@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Cabin", Arial, Geneva, sans-serif;
  background-image: url(../img/clouds.png);
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Niconne', cursive;
  font-weight: normal;
  color: #C80060;
}

.wrapper {
  margin: 0 auto;
}

article img {
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
}

nav {
  background: url(../img/scallop.png) repeat-x;
}

nav ul.full-width {
  list-style-type: none;
  background-color: #e6bf98;
  padding: .75em;
  margin: 12px 0 0 0;
  border-bottom: 3px solid #cc8850;
  overflow: auto;
}

nav li:nth-child(even) {
  width: 50%;
  float: right;
  padding: 0.5em;
}

nav li:nth-child(odd) {
  width: 50%;
  float: left;
  padding: 0.5em;
}

nav a {
  color: #c80060;
  text-decoration: none;
  display: block;
  padding-left: 3.333333%;
}

nav a:hover {
  color: #00c4c7;
}

a .active {
  color: #00c4c7;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
}

.gall li {
  flex: auto;
  color: white;
  background-color: #04a0a0;
  border: 1px solid #cc8850;
}

.gall img {
  width: 100%;
}


/* **************************************footer ***************************************/

footer {
  background-color: #00CDD1;
  color: white;
  clear: both;
  margin: 0 0.5em 3em 0.5em;
}

footer p {
  text-align: center;
}

footer img {
  width: 52px;
}

footer a {
  color: white;
  text-decoration: none;
}


/************************************************************************************/


/* Small devices (tablets, 768px and up) */

@media (min-width: 550px) {
  .wrapper {
    width: 97%;
    max-width: 767px;
  }
  div.row {
    padding: 0 2em;
  }
  nav li,
  nav li:nth-child(even),
  nav li:nth-child(odd) {
    display: inline-block;
    float: none;
    width: auto;
    padding: 0;
  }
  nav a {
    padding: 0em 1em 0em 1em;
  }
  [class*='col-'] {
    margin-left: 4%;
    margin-right: 0%;
  }
  .col-4 {
    flex: 0 0 92%;
  }
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 850px) {
  .gall li {
    flex: 0 0 33%;
    align-content: space-around;
  }
  .wrapper {
    width: 97%;
    max-width: 1200px;
    float: none;
  }
  h2 {
    font-size: 3em;
    border-bottom: 2px dotted #c80060;
  }
  h3 {
    font-size: 2em;
  }
  div.row {
    padding: 0;
  }
  nav li,
  nav li:nth-child(even),
  nav li:nth-child(odd) {
    display: inline-block;
    float: none;
    width: auto;
    padding: 0;
  }
  nav a {
    padding: 0em 1em 0em 1em;
  }
}